.App {
  text-align: center;
  font-weight: 500;
  font-size: 1px ;
  background-color: #234361;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #234361;
}

.App-link {
  color: #61dafb;
}


header{
  background-color: grey;
  background-blend-mode: screen, difference, lighten;
}

.cityHeader{ 
  font-size: 37px;
  font-weight: normal;
  padding-top: 50px;
}

h1 {
  padding-top: 50px;
}
 
.forecast.container{
  padding-top:100px
}
.forecast {
  font-size: 20px;
  background-color: #425A70;
  min-height: 50vh;
  color: white
}

.forecastcards.col{
  width: 20%;
  max-width: 25%;
  height: fit-content;
}
.icons{
 font-size: 50px;
}
.btn.toggle.btn-lg.off.btn-default{
  border-radius:10px 10px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.btn.toggle.btn-lg.btn-default{
  border-radius:100px 10px;
  top: 8px;
  right: 8px;
  position: absolute;

} 

.buttonTextF{
  font-weight: 700;
  padding-left:20px;
  
}
.buttonTextC{
  font-weight: 700;
  padding-right:20px;
}

span.btn.toggle-off.btn-lg.btn-default{
  border: 1px solid rgb(134, 134, 90);
  color : white

}
span.btn.toggle-on.btn-lg.btn-default{
  border: 1px solid rgb(134, 134, 90);
  color : white
}
.nav-item {
  padding: 10px;
}
header.App-header.background {
  padding-top: 100px;
}

span.navHeader.float-left.navbar-brand {
  font-size: 30pt;
  font-weight: 300;
  padding-left: 30px;
  color: rgba(255, 255, 255, 0.774);
}
